@model IEnumerable<Project>
@{
    ViewData["Title"] = "Projetos";

}

<div class="fade-in p-5">
    <h1 class="fade-in text-primary text-uppercase mt-1">Projetos</h1>
    <p>Projetos concluidos <i class=" bi bi-check-square-fill text-success"></i> e Projetos em andamento <i
            class=" bi bi-exclamation-square-fill text-warning">
        </i></p>
    <div>
        <div class="row">
            @foreach (var project in Model)
            {
                <article class="col-lg-4 col-sm-6 p-0 border-0 shadow rounded">
                    <div class="position-relative mw-100">

                        <div class="card-image">
                            <img class="img-fluid rounded" src="@project.Thumbnail" alt="Project Image">
                        </div>
                        <div class="d-grid position-absolute bottom-0 h-100 w-100 align-content-end"
                        onmouseenter="showBasicInfoProject(this,true)" onmouseleave="showBasicInfoProject(this,false)">

                            <div class="text-dark bg-light border-0 p-2 w-100 mh-50 rounded-bottom swing-out-bottom-fwd "
                            style="backdrop-filter: blur(5px); --bs-bg-opacity: .8;">

                                <div class="row">
                                    <div class="col-10 text-start">
                                        <p class="fs-4 m-0 fw-regular">@project.Title</p>
                                    </div>
                                    <div class="col-2 text-end">
                                        <i
                                        class="fs-4 bi @(project.Finish ? "bi-check-square-fill text-success" : "bi-exclamation-square-fill text-warning") ">
                                        </i>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <p class="card-text fw-light">@project.SubTitle</p>
                                </div>

                                <div class="row m-0 gap-1">

                                    <button type="button" class="col-3 btn btn-sm btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#modal-project" data-bs-title="@project.Title"
                                    data-bs-id="@project.IdProject"
                                    data-bs-url="@(project.UrlSource != null ? @project.UrlSource : "")">
                                        Mais
                                        <i class="bi bi-plus-lg"></i>
                                    </button>

                                    @if (project.UrlDemo != null)
                                    {
                                        <button type="button" class="col-3 btn btn-sm btn-outline-primary">
                                            Demo
                                            <i class="bi bi-box-arrow-up-right"></i>
                                        </button>
                                    }
                                </div>

                                <div class="row mw-100 d-none" id="more-@project.IdProject">
                                    <p class="fs-5 text-center text-uppercase fw-bold">Tecnologias Usadas</p>
                                    <div class="d-flex justify-content-center mb-5 gap-3">
                                        @foreach (var projectTechnology in project.Technologies)
                                        {
                                            <i class="@projectTechnology.Technology?.Icon Colored fs-1 shadow p-3 rounded bg-dark"></i>
                                        }
                                    </div>
                                    @Html.Raw(project.Description)
                            </div>
                        </div>
                    </div>
                </article>
            }
        </div>
    </div>
</div>

@section Modal{
<div class="modal fade" id="modal-project" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">

            </div>
            <div class="modal-footer ">
                <a type="button" class="btn btn-dark btn-source" aria-label="source">Source Code <i
                        class="bi bi-box-arrow-up-right"></i></a>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                    aria-label="fechar">Fechar</button>
            </div>
        </div>
    </div>
</div>
}

@section Styles{
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
<link rel="stylesheet" href="~/css/projects.css" asp-append-version=true>
}

@section Scripts{
<script>
    function showBasicInfoProject(element, show) {

        let childElement = element.firstElementChild;
        if (!show) {
            if (childElement.classList.contains('swing-in-bottom-fwd'))
                childElement.classList.replace('swing-in-bottom-fwd', 'swing-out-bottom-fwd');
        } else {
            if (childElement.classList.contains('swing-out-bottom-fwd'))
                childElement.classList.replace('swing-out-bottom-fwd', 'swing-in-bottom-fwd');
        }
    }
</script>

<script>
    //Modal
    const projectModal = document.getElementById('modal-project')
    projectModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        const title = button.getAttribute('data-bs-title');
        const urlSource = button.getAttribute('data-bs-url');
        const moreId = "more-" + button.getAttribute('data-bs-id');
        const more = document.getElementById(moreId);

        let content = more.innerHTML;

        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        const modalBody = projectModal.querySelector('.modal-body');
        const buttonSource = projectModal.querySelector('.btn-source');

        if (urlSource != '') {
            buttonSource.href = urlSource;
        }
        else {
            buttonSource.classList.add('d-none');
        }

        modalBody.innerHTML = content;
    });
</script>
}